
#main{
    width: 480px;
    height: 480px;
    border: 0px dashed black;
}

#container{
    border: 3px solid red;
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

/* div{
    border:1px solid black;
} */

.row{
    display: flex;
    margin: 0px;
    /* width:100px; */
    border: 0px;
    
}

.col{
    /* width: 16px;
    height: 16px; */
    margin: 0px;
    border: 0px;
}

.colColor{
    background-color: rgb(0, 0, 0);
}

#buttons{
    margin: 50px;
}

.col16{
    width:30px;
    height:30px;
}

.col32{
    width:15px;
    height:15px;
}

.col64{
    width:7px;
    height:7px;
}

.col128{
    width: 4px;
    height: 4px;
}

button{
    background-color:rgb(255, 255, 255);
    border-radius: 6px;
    border: 3px dashed royalblue;
    padding: 6px;
    margin: 6px;
}
.buttonColor{
    background-color: yellow;
}