
#main{
    width: 100px;
    height: 100px;
    border: 3px dashed black;
}

#container{
    border: 3px solid red;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

div{
    border:1px solid black;
}

.row{
    display: flex;
    margin: 0px;
    width:100px;
    border: 0px;
    
}

.col{
    width: 16px;
    height: 16px;
    margin: 0px;
    border: 0px;
}

.colColor{
    background-color: rgb(0, 0, 0);
}

#buttons{
    margin: 50px;
}

.col4{
    width:25px;
    height:25px;
}

.col8{
    width:12px;
    height:12px;
}

.col16{
    width:6px;
    height:6px;
}